# Annotation Settings
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true

# Accessors
lombok.accessors.chain = true

# Builder
lombok.builder.className = Builder

# ToString, Equals and HashCode
lombok.equalsAndHashCode.callSuper = skip
lombok.toString.callSuper = skip

# Logging
lombok.log.fieldIsStatic = true
lombok.log.fieldName = logs
lombok.log.slf4j.flagUsage = error